<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Equipe.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Nossa Equipe:</h1>
    </div>
    <div>
        <div class="equipe-membros">
            <img class="foto" src="Carol.jpeg" />
            <p>Caroline</p>
            <ul>Front-End</ul>
            <ul>Designer</ul>
        </div>

        <div class="equipe-membros">
            <img class="foto" src="nerd.png" />
            <p>Max Felipe</p>
            <ul>Front-End</ul>
            <ul>Back-End</ul>
        </div>

        <div class="equipe-membros">
            <img class="foto" src="Sarah.jpg" />
            <p>Sarah Ellen</p>
            <ul>Front-End</ul>
            <ul>Refatoração</ul>
        </div>
    </div>
    
    
</body>
</html>